body{
    background-color: black;
    color:blue;
}
.heading{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 30px;
    color:azure;
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
p{
    font-size: large;
    line-height:2.3lvw;
}
.main1{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}
.pictures{
    display: flex;
    justify-content: center;
}
.pictures img{
    height: 250px;
    width:250px;
}
.first{
    margin-right: 30px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first a{
    text-decoration: none;
    color: blue;
}
.end pre{
    display: flex;
    justify-content: center;
}
.end a{
    text-decoration: none;
}
h1:hover{
    transform:scale(1.2,1.2);
}
img:hover{
    transform: scale(1.12,1.12);
}